.headerPadding {
    height: 60px;
}

.formField {
    background-color: #66ffaa;
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding: 20px;
	margin-left: 125px;
	margin-top: 50px;
}

.formLabel {
    display: block;
}

.navbar-header {
	width: 100%;
}

.navbar-right {
	float: right;
}

.formHeading {
    font-family: serif;
    font-weight: bold;
    text-align: center;
}

.input-group-addon {
    border: 1px solid #66ffaa;
}

.formTextInput {
    border: 1px solid #66ffaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    line-height: 2;
	
}

.formImage {
    width: 100%;
    margin-bottom: 5px;
}

.formButton {
    width: 100%;
    font-weight: bold;
	margin-top: 10px;
}

.dashboard {
    background-color: grey;
}


.pageTitle {
    font-size: 2em;
}

.whiteBorder{
    border-color: white;
}

.grayBorder{
    border-color: lightgray;
}

.whiteText{
    color:white;
}

.increased{
    font-size: 1.5em;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
}

.gray {
    background-color: lightgray;
}

.green {
	background-color: #66ffaa;
}

.grayLoader{
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(200, 200, 200, 0.2);
    border-right: 1.1em solid rgba(200, 200, 200, 0.2);
    border-bottom: 1.1em solid rgba(200, 200, 200, 0.2);
    border-left: 1.1em solid lightgray;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;

}

.container {
	background-color: #66ffaa;
	width: 100%;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,.grayLoader,
.loader:after,.grayLoader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

a {
	color: #117700;
}

textarea{
    margin-bottom: 5px;
    resize:none;
}

ul {
    list-style-type: none;
}

td, th {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

table{
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}