<div ng-if="!isAuthenticated()" id="login-reg-home">
    <header>
        <h1>Welcome</h1>
    </header>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <header>
                <h2>Login</h2>
            </header>
            <form name="loginUserForm">
                <label for="email">Email</label>
                <input type="email" required="required" class="form-control" id="email" ng-model="loginUser.email">
                <br>
                <label for="password">Password</label>
                <input type="password" required="required" class="form-control" id="password" ng-model="loginUser.password">
                <br>
                <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
            </form>
        </div>


        <div class="col-md-4 col-md-offset-2">
            <header>
                <h2>Register</h2>
            </header>
            <form name="registerUserForm">
                <label for="reg-username">Username</label>
                <input type="text" required="required" class="form-control" id="reg-username" ng-model="registerUser.username">
                <br>
                <label for="reg-password">Password</label>
                <input type="password" required="required" min-length="6" max-length="100" class="form-control" id="reg-password" ng-model="registerUser.password">
                <br>
                <label for="reg-confirmPassword">Password</label>
                <input type="password" required="required" class="form-control" id="reg-confirmPassword" ng-model="registerUser.confirmPassword">
                <br>
                <label for="reg-name">Name</label>
                <input type="text" required="required" class="form-control" id="reg-name" ng-model="registerUser.name">
                <br>
                <label for="reg-email">Email</label>
                <input type="email" required="required" class="form-control" id="reg-email" ng-model="registerUser.email">
                <br>
                <label>Gender</label>
                <input type="radio" name="reg-gender" ng-model="registerUser.gender" checked="checked" name="reg-gender" value="1" />Male
                <input type="radio" name="reg-gender" ng-model="registerUser.gender" name="reg-gender" value="2" />Female
                <input type="radio" name="reg-gender" ng-model="registerUser.gender" value="0" />Other

                <br>
                <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
            </form>
        </div>
    </div>
</div>
<div require-user ng-if="isAuthenticated()" id="dashboard-home" ng-controller="DashboardController">
    <div class="row">
        <header>
            <h1>Dashboard</h1>
        </header>

        <div id="assigned-projects-container" class="col-md-8">
            <header>
                <h2>Assigned Projects:</h2>
            </header>
            <ul id="assignedProjects">
                <li class="project-container" ng-repeat="project in assignedProjects | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                    <header><h3><a href="#/projects/{{project.Id}}">{{project.Name}}</a></h3></header>
                    <div class="projectIssues">
                        <h4>Issues:</h4>
                        <div class="issue-container" ng-repeat="issue in project.issues | assigned | limitTo: 3">
                            <h4><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></h4>
                            <p class="issue-due-date">{{issue.DueDate}}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <br>
            <ul class="pagination">
                <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                    <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                </li>
                <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
            </ul>
        </div>

        <div class="col-md-4" id="my-projects-container">
            <header>
                <h2>My Projects:</h2>
            </header>
            <div id="myProjectsCont">
                <ul id="myProjects">
                    <li ng-repeat="project in myProjects | startFrom: projectPagination.page * projectPagination.perPage | limitTo: projectPagination.perPage">
                        <h3><a href="#/projects/{{project.Id}}">{{project.Name}}</a></h3>
                    </li>
                </ul>
            </div>
            <ul class="pagination">
                <li><a href="" ng-click="projectPagination.prevPage()">&laquo;</a></li>
                <li ng-repeat="n in [] | range: projectPagination.numPages" ng-class="{active: n == projectPagination.page}">
                    <a href="" ng-click="projectPagination.toPageId(n)">{{n + 1}}</a>
                </li>
                <li><a href="" ng-click="projectPagination.nextPage()">&raquo;</a></li>
            </ul>

        </div>
    </div>
</div>