<header>
    <h2>Register</h2>
</header>
<form name="registerUserForm">
    <label for="reg-username">Email</label>
    <input type="text" required="required" class="form-control" id="reg-username" ng-model="userData.Email">
    <br>
    <label for="reg-password">Password</label>
    <input type="password" required="required" min-length="6" max-length="100" class="form-control" id="reg-password" ng-model="userData.Password">
    <br>
    <label for="reg-confirmPassword">Password</label>
    <input type="password" required="required" class="form-control" id="reg-confirmPassword" ng-model="userData.ConfirmPassword">

    <br>
    <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(userData)">Register</button>
</form>