<div class="box">
    <h2>Register</h2>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="userData.Email" required />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="userData.Password" required />
    </p>
    <p>
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword" ng-model="userData.ConfirmPassword" required />
    </p>
    <p>
        <button ng-click="register(userData)" class="button">Register</button>
        <a href="#/login" class="link">Login</a>
    <p>
</div>
